<ons-dialog animation="default" cancelable>
    <div class="dialog-mask"></div>
      <div class="dialog">
        <div class="dialog-container" style="height: 200px;">
          <ons-page>
            <ons-toolbar>
              <div class="center">Name</div>
            </ons-toolbar>
            <div class="content">
              <div style="text-align: center">
                <p>This is just an example.</p>
                <br>
                <ons-button>Close</ons-button>
              </div>
            </div>
          </ons-page>
        </div>
      </div>
  </ons-dialog>
  <ons-list-item tappable (click)="confirm()">Confirmation</ons-list-item>

